/* 
* @Author: chenhao
* @Date:   2015-06-08 18:42:31
* @Last Modified by:   chenhao
* @Last Modified time: 2015-06-17 22:09:12
*/
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    font-family: 'Microsoft Yahei';
    background-image: url('../img/background.jpg');
    background-size:cover;
}
.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-login .form-login-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}
.form-login .checkbox {
    font-weight: normal;
}
.form-login .checkbox a{
    margin-left: 150px;
}
.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-login .form-control:focus {
    z-index: 2;
}
.form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
  border-top-left-radius: 0;
    border-top-right-radius: 0;
}