<!DOCTYPE html>
<html lang="zh_cn">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form role="form" id="userForm">
            <div class="modal-header">
                <div class="modal-title">角色信息</div>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="roleName">用户名</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="roleName" ng-model="role.roleName">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">保存</button>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </form>
    </body>
</html>