<!DOCTYPE html>
<html lang="zh_cn">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form role="form">
            <div class="modal-header">
                <div class="modal-title">设置角色</div>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">保存</button>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </form>
    </body>
</html>